
html, body, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  background: transparent;
}

li{
  list-style: none;
}

.group:after{
  display: block;
  content: "";
  clear: both;
}

.gametitle{
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 36px;
  width: 100px;
  padding: 5px 0;
}

.board {
  display: block;
  position: relative;
  width: 600px;
  margin: 0 auto;
  border: 5px solid black;
}

.board > li {
  width: 30px;
  height: 30px;
  float: left;
}

.snake {
  background: green;
}

.apple {
  background: red;
}

.gameover {
  display: block;
  position: absolute;
  top: 50px;
  left: 40px;
  font-family: sans-serif;
  font-size: 100px;
  color: black;
}

.retry {
  display: block;
  position: absolute;
  top: 260px;
  left: 250px;
  font-family: sans-serif;
  font-size: 30px;
  padding: 10px 20px;
  color: black;
  cursor: pointer;
  background: #0c0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 0 0 #070;
}

.retry:hover {
  background: #0b0;
}

.retry:active{
  top: 263px;
  background: #0a0;
  box-shadow: none;
}

.score{
  display: block;
  position: absolute;
  top: 10px;
  right: 40px;
  margin: 0;
  font-family: sans-serif;
  font-size: 30px;
  color: black;
}
